.footer {
    margin-top: auto;
    background-color: var(--main-blue);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 18px 13px var(--main-fuscia);
  }

.footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.footer-user {
    display: flex;
    align-items: center;
    color: var(--main-fuscia);
    background-color: var(--main-black);
    height: 100%;
    padding: 0px .75rem;
}

.footer-user > p {
    margin-top: 1rem;
}

.footer-user-span {
    background-color: rgb(0, 255, 55);
    height: 8px;
    width: 8px;
    border-radius: 50%;
}