.footer {
    margin-top: auto;
    background-color: var(--main-blue);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 1rem; */
    box-shadow: 0px 10px 18px 13px var(--main-fuscia);
    /* opacity: .75; */
  }

.footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.footer-user {
    background-color: var(--main-fuscia);
    display: flex;
    align-items: center;
    opacity: .75;
    color: whitesmoke;
    margin-right: 1rem;
    border-radius: 50%;
}

.footer-user p {
    margin-top: .7rem;
    padding:4px;
}
