.footer {
    margin-top: auto;
    background-color: var(--main-blue);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 18px 13px var(--main-fuscia);
  }

.footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.footer-user {
    display: flex;
    align-items: center;
    color: var(--main-fuscia);
    margin-right: 1rem;
}

.footer-user p {
    margin-top: 1rem;
}
