:root {
  --main-blue: #00ccff;
  --dark-blue: #0000ff;
  --main-orange: #ff4400;
  --main-fuscia: #b700ff;
  --secondary-blue: #addeff;
  --main-white: #fff;
  --main-black: #000;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  background-color: var(--secondary-blue);
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;

}




