:root {
  --main-blue: #00ccff;
  --dark-blue: #0000ff;
  --main-orange: #ff4400;
  --main-fuscia: #b700ff;
  --secondary-blue: #addeff;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  background-color: var(--secondary-blue);
}




